:root {
    --main-col: #ffffff;
    --first-col: #eedac2;
    --second-col: #e5a88b;
    --third-col: #cf9683;
    --fourth-col: #cf7956;
    --fifth-col: #d16644;
    --sixth-col: #878f84;
    --seventh-col: #303030;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--seventh-col);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Header Styles */
header {
    background-color: var(--main-col);
}

/* Navigation Styles */
header nav {
    background-color: var(--second-col);
    padding-bottom: 100px;
    width: 100%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 15px;
}

header nav ul a:hover {
    font-weight: bold;
    text-shadow: 10px -2px 10px rgba(238, 218, 194, 1);
    box-shadow: 0 0 15px rgba(209, 102, 68, 0.5);
}

header img {
   width: 200px;
   height: auto;
   margin: 10px 5px 10px auto;
   padding-right: 3px;
   border-right: 5px solid var(--sixth-col);
   border-radius: 50px;
}

header h1 {
    font-size: 55px;
    font-style: oblique;
    margin: auto auto auto 10px;
    border-bottom: 2px solid var(--sixth-col);
    border-radius: 15px;
}

header a {
    text-decoration: none;
    color: var(--seventh-col);
}
/* End of Header Section */

section {
    padding: 30px;
}

/* Page Dividers */
.vertical-divider {
    border-right: 6px var(--sixth-col);
}

/* Utilities */
.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


