:root {
    --main-col: #FFFFFF;
    --text-col: #303030;
    --first-col: #689681;
    --second-col: #C5C4B2;
    --third-col: #2A505A;
    --fourth-col: #E66947;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-col);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--first-col);
}

/* Header Styles */
header {
    background-color: var(--main-col);
    padding-bottom: 100px;
}

/* Navigation Styles */
header nav {
    background-color: var(--second-col);
    padding: 30px auto;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 15px;
}

header nav ul li {
    margin: 5px;
}

header nav ul li a {
    border-top: 1px dashed var(--text-col);
    border-bottom: 1px dashed var(--text-col);
    text-decoration: none;
    color: var(--text-col);
}

header nav ul a:hover {
    font-weight: bold;
    text-shadow: 10px -2px 10px rgba(238, 218, 194, 1);
    box-shadow: 0 0 15px rgba(209, 102, 68, 0.5);
}

.title-row {
    border-top: 1px dashed var(--text-col);
    border-radius: 50px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-photo img {
    width: 200px;
    height: auto;
    padding: 1px 20px;
    border-right: 5px solid var(--third-col);
    border-left: 5px solid var(--third-col);
    border-radius: 50px;
}

.title {
    margin-top: 30px;
}

.title h1 {
    font-size: 55px;
    font-style: oblique;
    margin: auto auto auto 10px;
    border-bottom: 2px solid var(--third-col);
    border-radius: 15px;
}

.title a {
    text-decoration: none;
    color: var(--seventh-col);
}
/* End of Header Section */

section {
    padding: 5%;
}   

.title-section {
    text-align: center;
    padding-bottom: 20px;
    text-shadow: 0 10px 15px rgba(0,0,0,0.8);
}

.section-border {
    border-top: 3px solid var(--main-col);
    border-radius: 20px;
    text-align: center;
}


/* About Me Styles */
.facts {
    text-align: center;
}

.facts span {
    text-transform: uppercase;
    color: var(--fourth-col);
    font-weight: bold;
}
/* End of About Me Styles */

/* Completed Works/Projects Section */
.projects {
    margin: 25px auto;
    width: 80%;
}

.projects a {
    text-decoration: none;
}

.main-content {
    size: auto;
    padding: 15px 10px;
    border: 5px solid var(--main-col);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-title, .main-subtitle {
    padding: 5px 10px;
    width: fit-content;
    border: 2px solid var(--third-col);
    background-color: var(--second-col);
}

.main-text {
    padding-left: 150px;
    padding-top: 50px;
    color: var(--fourth-col);
}






/* End of Completed Works/Projects Section */

/* Reach Me Section Styles */
.links {
    text-align: center;
}

.links a {
    text-decoration: none;
    color: var(--text-col);
}

.links a:hover {
    font-size: 25px;
}
/* End of Reach Me Section */

/* Footer */
footer {
    font-size: 12px;
    text-align: right;
    margin: 2px;
}
