:root {
    --main-col: #FFFFFF;
    --text-col: #303030;
    --first-col: #689681;
    --second-col: #C5C4B2;
    --third-col: #2A505A;
    --fourth-col: #E66947;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-col);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--first-col);
}

/* Header Styles */
header {
    background-color: var(--main-col);
    padding-bottom: 100px;
}

/* Navigation Styles */
header nav {
    background-color: var(--second-col);
    padding-bottom: 100px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 15px;
}

header nav ul li a {
    border-top: 1px dashed var(--text-col);
    border-bottom: 1px dashed var(--text-col);
}

header nav ul a:hover {
    font-weight: bold;
    text-shadow: 10px -2px 10px rgba(238, 218, 194, 1);
    box-shadow: 0 0 15px rgba(209, 102, 68, 0.5);
}

.title-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: 1px dashed var(--text-col);
    border-radius: 50px;
}

header img {
    width: 200px;
    height: auto;
    margin: 10px 5px 10px auto;
   padding-right: 20px;
   border-right: 5px solid var(--third-col);
   border-radius: 50px;
}

header h1 {
    font-size: 55px;
    font-style: oblique;
    margin: auto auto auto 10px;
    border-bottom: 2px solid var(--third-col);
    border-radius: 15px;
}

header a {
    text-decoration: none;
    color: var(--seventh-col);
}
/* End of Header Section */

section {
    padding: 5%;
}

h3 {
    text-align: center;
    padding-bottom: 20px;
    text-shadow: 0 10px 15px rgba(0,0,0,0.8);
}

.border {
    border-top: 3px solid var(--main-col);
    border-radius: 20px;
}


/* About Me Styles */
.facts {
    text-align: center;
}

.facts span {
    text-transform: uppercase;
    color: var(--fourth-col);
    font-weight: bold;
}
/* End of About Me Styles */

/* Completed Works/Projects Section */
.main-img img {
    width: 55%;
    position: center;
    border-radius: 20px;
}

.incoming-img img{
    width: 35%;
    position: center;
    border-radius: 20px;
}
